.rootapp
	display: flex
	
	>div
		min-height: 100vh
		width: 100%
		position: relative

	.refresher
		position: fixed
		bottom : 100%
		left : 0
		right: 0
		text-align: center
		padding : 2 * $r
		color : srgb(--neutral-grad-1)
		z-index: 2000

		div
			margin : 0 auto
			width: 44px
			height: 44px
			line-height: 44px
			border-radius: 50%
			+shadowSmaller()
			background: srgb(--background-secondary-theme)


	#appmenu
		flex-shrink: 0
		width: 240px
		background: srgb(--background-secondary-theme)
		padding : 3 * $r
		
	.page
		min-width: 528px
		max-width: 840px
		flex-grow: 2
		padding-bottom: 10 * $r
		
	.bgpage
		
		border-radius: 12px

	.preabs,
	.abspage
		position: fixed
		left: 0
		top : 0
		bottom: 0
		right: 0
		background: srgb(--background-total-theme)
		
		
		#maincontent,
		#maincontent>div
			position: absolute
			left: 0
			top : var(--app-margin-top)
			bottom: 0
			right: 0

		#topheader
			margin-top: 0
			position: absolute
			left: 0
			top : 0
			right: 0

		#maincontent
			top : 84px

	.preabs
		position: absolute

#root
	&.summaryview
		.topheader
			display: none
		.refresher
			display: none!important
		.rootapp
			position: absolute
			left: 0
			top : 0
			bottom: 0
			right: 0
			height: auto
			padding : 0
			max-width: 100%
			margin : 0

			>div
				height: 100%
				min-height: 0

			>div:not(#appmenu)
				position: absolute
				left: 55px
				right: 0
				top : 0
				bottom: 0
				width: auto

		#appmenu
			padding : 0 0.5 * $r
			width: 55px
			z-index: 10
			position: absolute
			left : 0
			top : 0
			bottom: 0

			.item
				position: relative

				.notifications
					position: absolute
					left : 50%
					top : 50%
					transform: scale(0.75)

			.label
				display: none

		.footer
			flex-direction: column-reverse
			left: 1.5 * $r

			i
				font-size: 0.8em

			>div
				margin-top: 2 * $r

			.themeToggleWrapper
				margin-left: 0

			.exploreWrapper
				margin-left: 0

			.help
				margin-bottom: 0
				padding-left: 0

			.tgl
				width: auto
				>div
					display: flex
					flex-direction: column
		
.fade-enter-active, .fade-leave-active
	transition: opacity .5s

.fade-enter, .fade-leave-to
	opacity: 0


@media only screen and (min-width: 768px)
	.rootapp
		padding : 3 * $r
		max-width: 1180px
		margin : 0 auto

		#appmenu
			width : 260px

		.preabs,
		.page
			background: srgb(--background-total-theme)
			border-radius: 12px
			overflow: hidden
			padding-bottom: 0
			margin : 0 auto

#root
	&.summaryview
		.rootapp
			padding : 0
			max-width: 100%
			margin : 0


@media only screen and (max-width: 768px)

	#root
		&.summaryview
			#appmenu
				width: 100%
				position: fixed
				z-index: 10
				bottom : 0
				left : 0
				padding: 2 * $r
				top : auto
				height: auto

			.rootapp
				>div:not(#appmenu)
					left: 0
			

	.rootapp
		display: block
		min-height: 110vh
		scroll-snap-align: start
		.bgpage
			padding: 2 * $r
			padding-bottom: var(--keyboardheight)

		.page
			min-width: 0
			padding-bottom: 120px
			margin-bottom: var(--keyboardheight)


		>div
			min-height: 0
			padding : 0
			position: static


		#appmenu
			width: 100%
			position: fixed
			z-index: 10
			bottom : 0
			left : 0
			padding: 2 * $r
			background: srgb(--background-total-theme)

		#topheader
			position: sticky
			left: 0
			top : 0
			right: 0

			/*&:stuck
				.headerLine
					+transition(0.3s)
					height: 32px
					font-size: 0.7*/
