.rootapp
	display: flex
	
	>div
		min-height: 100vh
		width: 100%
		position: relative

	.refresher
		position: fixed
		bottom : 100%
		left : 0
		right: 0
		text-align: center
		padding : 2 * $r
		color : srgb(--neutral-grad-1)
		z-index: 2000

		div
			margin : 0 auto
			width: 44px
			height: 44px
			line-height: 44px
			border-radius: 50%
			+shadowSmaller()
			background: srgb(--background-secondary-theme)


	#appmenu
		width: 240px
		background: srgb(--background-secondary-theme)
		padding : 3 * $r
		
	.page
		min-width: 528px
		flex-grow: 2
		padding-bottom: 10 * $r
		
	.bgpage
		background: srgb(--background-total-theme)
		border-radius: 12px

	.preabs,
	.abspage
		position: fixed
		left: 0
		top : 0
		bottom: 0
		right: 0
		background: srgb(--background-total-theme)
		
		
		#maincontent,
		#maincontent>div
			position: absolute
			left: 0
			top : var(--app-margin-top)
			bottom: 0
			right: 0

		#topheader
			margin-top: 0
			position: absolute
			left: 0
			top : 0
			right: 0

		#maincontent
			top : 84px

	.preabs
		position: absolute

		
.fade-enter-active, .fade-leave-active
	transition: opacity .5s

.fade-enter, .fade-leave-to
	opacity: 0

	
@media only screen and (min-width: 1024px)
	.rootapp
		padding : 3 * $r
		max-width: 1180px
		margin : 0 auto

		#appmenu
			width : 260px

		.preabs,
		.page
			background: srgb(--background-total-theme)
			border-radius: 12px
			overflow: hidden
			padding-bottom: 0


@media only screen and (max-width: 768px)
	.rootapp
		display: block

		.bgpage
			padding: 2 * $r
			padding-bottom: var(--keyboardheight)

		.page
			min-width: 0
			padding-bottom: 120px
			margin-bottom: var(--keyboardheight)


		>div
			min-height: 0
			padding : 0
			position: static


		#appmenu
			width: 100%
			position: fixed
			z-index: 10
			bottom : 0
			left : 0
			padding: 2 * $r
			background: srgb(--background-total-theme)

		#topheader
			position: sticky
			left: 0
			top : 0
			right: 0

			/*&:stuck
				.headerLine
					+transition(0.3s)
					height: 32px
					font-size: 0.7*/
