#client_portfolios

.panel
	margin-top : 2 * $r
	margin-bottom: 4 * $r
	display: flex
	grid-gap: $r

.summary
	display: grid
	grid-gap: $r
	grid-template-columns: repeat(3, 1fr)
	margin-bottom: 0
	padding-bottom: 2 * $r
	padding-top: $r
	border-bottom: $r solid srgb(--neutral-grad-0)

.subcaption
	margin-top: 4 * $r
	text-align: center
	span
		font-size: 0.8em