#notifications_actual
    position: fixed
    left: 0
    top: var(--app-margin-top)
    right: 0
    z-index: 1000

    .showMore
        max-width: 640px
        margin : 0 auto

        .showMoreWrapper
            +shadowSmaller()
            padding : $r 2 * $r
            border-radius: 24px
            backdrop-filter: blur(14px)
            -webkit-backdrop-filter: blur(14px)
            background: srgba(--background-secondary-theme, 0.5)
            text-align: center
        span
            font-size: 0.8em


    .notificaion
        +shadowSmaller()
        backdrop-filter: blur(14px)
        -webkit-backdrop-filter: blur(14px)
        background: srgba(--background-secondary-theme, 0.5)

    ::v-deep
        .item
            max-width: 640px
            margin : 0 auto
            margin-bottom: $r
            padding: $r
            padding-bottom: 0
