.scenarioWrapper
    padding : 2 * $r
    border-bottom: 1px solid srgb(--neutral-grad-0)

.keyscenariosWrapper
    padding-bottom : 2 * $r
    border-bottom: $r solid srgb(--neutral-grad-0)

    .wr2
        display: flex
        align-items: center

    .label
        margin-left: $r

        span
            font-size: 0.9em