.cnt
	min-width: 80px
	max-width: 80px
	height: 80px
	padding : $r
	text-align: center
	scroll-snap-align: start

	i
		font-size: 1.5em
		color : srgb(--color-bg-ac)
		height: 33px
		line-height: 33px

		&.small
			font-size: 0.8em

	.name
		text-overflow: ellipsis
		white-space: nowrap
		overflow: hidden
		color : srgb(--neutral-grad-3)

		span
			font-size: 0.8em

@media (pointer:fine)
	.cnt
		cursor: pointer

		i
			+transition(0.3s)

		&:hover
			i
				color : srgb(--neutral-grad-2)

.filesystem
	padding : $r 0

.preloaderWrapper,
.emptyWrapper
	padding : 0 4 * $r
	white-space: nowrap
	span
		font-size: 0.8em
		opacity: 0.6

.preloaderWrapper
	opacity: 0.6

.filesystem
	&.expanded

		.preloaderWrapper,
		.emptyWrapper
			width: 100%
			text-align: center
			padding : 8 * $r 4 * $r

		.list
			width : 100%

		.items
			display: flex
			align-items: center
			flex-wrap: wrap
			

			::v-deep
				.fslist
					display: flex
					align-items: center
					flex-wrap: wrap

					>div
						flex-basis: 25%
						display: flex
						align-items: center

	&.mini
		.items
			display: flex
			align-items: center
			overflow-x: scroll
			scroll-snap-type: x mandatory
			scroll-behavior: smooth
			&::-webkit-scrollbar
				display: none!important

			::v-deep

				.fslist
					display: flex
					align-items: center

					>div
						display: flex
						align-items: center

	&.selectFolder
		.fa-file
			opacity: 0.6