.forms
    display: flex
    flex-direction: column

.field
    display: flex
    flex-direction: column
    margin-bottom: 2 * $r

select.custom
    padding : 0 3 * $r
    height: 66px
    background-color: srgb(--neutral-grad-0)
    border-radius: 6px
    max-width: none

input[type="radio"]
    padding : 0
    height: 33px
    background: srgb(--neutral-grad-0)
    width : 33px
    

input
    padding : 0 3 * $r
    height: 66px
    background: srgb(--neutral-grad-0)
    width : 100%
    border-radius: 6px

label
    color : srgb(--neutral-grad-3)
    margin-bottom: $r

.error
    padding : $r 0
    color : srgb(--color-bg-ac-bright)

.radio
    .radioWrapper
        display: flex
        align-items: center
        margin-bottom: $r

        input
            flex-grow: 0
            max-width : 33px
            min-width: 33px

        label
            margin-left: 2 * $r
            margin-bottom: 0

@media (pointer: fine)
    .radio
        .radioWrapper
            input,
            label
                cursor: pointer