.selectionControls
    padding : 2 * $r
    position: fixed
    left : 50%
    width: 550px
    margin-left: -275px
    top : 2 * $r
    border-radius: 12px
    right: 0
    z-index: 1000
    background: srgb(--background-total-theme)
    +shadowSmaller()
    
    .caption
        margin-bottom: $r
        span
            font-size: 0.8em
            font-weight: 700
    .controls
        display: flex
        grid-gap: $r
        align-items: center
        justify-content: flex-end
        flex-wrap: wrap

    button
        min-width: 110px

@media only screen and (max-width: 768px)
    .selectionControls
        left : 0
        top : auto
        bottom : 0
        right: 0
        width: 100%
        margin-left: 0
        box-shadow: none
        border-radius: 0
        
@media only screen and (min-width: 768px)
    .selectionControls
        left : 50%
        top : auto
        bottom : $r
        border : 1px solid srgb(--neutral-grad-0)
        right: 0
        width: 550px
        margin-left: -275px
        display: flex
        justify-content: space-between
        align-items: center
        padding : $r