<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="com.rixtrema.pct" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Portfolio crash test</name>
    <description>
        Portfolio crash test
    </description>
    <author email="maxgrishkov@gmail.com" href="https://rixtrema.com">
        Larkspur-Rixtrema
    </author>
    <hook src="../src/cordova-hooks/beforePrepare.js" type="before_prepare" />
    <hook src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" type="after_prepare" />
    <content src="index.html" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="30" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashShowOnlyFirstTime" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="Fullscreen" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true"/>
    <preference name="AndroidExtraFilesystems" value="files-external,documents,sdcard,cache,cache-external,assets,root" />

    <platform name="android">
        <icon density="ldpi" src="www/res/icon/android/ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/xxxhdpi.png" />
        <splash density="land-ldpi" src="www/res/screen/android/splash-land-ldpi.png" />
        <splash density="land-mdpi" src="www/res/screen/android/splash-land-mdpi.png" />
        <splash density="land-hdpi" src="www/res/screen/android/splash-port-hdpi.png" />
        <splash density="land-xhdpi" src="www/res/screen/android/splash-land-xhdpi.png" />
        <splash density="land-xxhdpi" src="www/res/screen/android/splash-land-xxhdpi.png" />
        <splash density="land-xxxhdpi" src="www/res/screen/android/splash-land-xxxhdpi.png" />
        <splash density="port-ldpi" src="www/res/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="www/res/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="www/res/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="www/res/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="www/res/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="www/res/screen/android/splash-port-xxxhdpi.png" />
    </platform>

    <platform name="ios">
        <icon height="57" platform="ios" src="www/res/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/res/icon/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="www/res/icon/ios/icon-small-40.png" width="40" />
        <icon height="80" platform="ios" src="www/res/icon/ios/icon-small-40@2x.png" width="80" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon-small-40@3x.png" width="120" />
        <icon height="50" platform="ios" src="www/res/icon/ios/icon-small-50.png" width="50" />
        <icon height="100" platform="ios" src="www/res/icon/ios/icon-small-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="www/res/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="www/res/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="www/res/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="www/res/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="www/res/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="www/res/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="www/res/icon/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="www/res/icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="www/res/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="www/res/icon/ios/icon-small@3x.png" width="87" />
        <icon height="167" platform="ios" src="www/res/icon/ios/icon-167.png" width="167" />
        <icon height="1024" platform="ios" src="www/res/icon/ios/icon-1024.png" width="1024" />
        <splash height="2732" platform="ios" src="www/res/screen/ios/Default@2x~ipad~anyany.png" width="2732" />
        <splash height="2732" platform="ios" src="www/res/screen/ios/Default@2x~ipad~comany.png" width="1278" />
        <splash height="1334" platform="ios" src="www/res/screen/ios/Default@2x~iphone~anyany.png" width="1334" />
        <splash height="1334" platform="ios" src="www/res/screen/ios/Default@2x~iphone~comany.png" width="750" />
        <splash height="750" platform="ios" src="www/res/screen/ios/Default@2x~iphone~comcom.png" width="1334" />
        <splash height="2208" platform="ios" src="www/res/screen/ios/Default@3x~iphone~anyany.png" width="2208" />
        <splash height="1242" platform="ios" src="www/res/screen/ios/Default@3x~iphone~anycom.png" width="2208" />
        <splash height="2208" platform="ios" src="www/res/screen/ios/Default@3x~iphone~comany.png" width="1242" />
    </platform>


    <plugin name="cordova-plugin-device" spec="~1.1.1" />
    <plugin name="cordova-plugin-statusbar" source="git" spec="https://github.com/apache/cordova-plugin-statusbar.git" />
    <plugin name="cordova-plugin-whitelist" spec="1" />

    <plugin name="cordova-universal-links-plugin" source="git" spec="https://github.com/cgaeking/cordova-universal-links-plugin-fix.git" />

    <universal-links>
        <ios-team-id value="Y5JW9JU787"/>

        <host name="pocketnet.app" scheme="https">
            <path url="*" event="nav-message" />
        </host>

    </universal-links>
    
    <plugin name="cordova-plugin-googleplus" source="npm">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.1075755841648-aqvo4nm7oeecbo2frh8dlti3u6guc4ek" />
        <variable name="WEB_APPLICATION_CLIENT_ID" value="1075755841648-aqvo4nm7oeecbo2frh8dlti3u6guc4ek.apps.googleusercontent.com" />
    </plugin>
    <allow-navigation href="*" />
    <allow-navigation href="data:*" />
    <allow-intent href="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="data:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>


    <platform name="android">

        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" android:requestLegacyExternalStorage="true"/>
        </edit-config>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>

        <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="merge">
            <activity android:windowSoftInputMode="adjustPan" />
        </edit-config>

        <preference name="AndroidPersistentFileLocation" value="Compatibility" />

    </platform>
    
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="13.0.0" />
        <preference name="WKWebViewOnly" value="true" />
        <feature name="CDVWKWebViewEngine">
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>This Application uses your camera to make audio calls</string>
        </config-file>
        
        <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist" overwrite="true">
            <string>This Application uses your photo library</string>
        </config-file>

        <config-file parent="NSCameraUsageDescription" target="*-Info.plist" overwrite="true">
            <string>This Application uses your camera to make video calls</string>
        </config-file>
        <config-file parent="NSSpeechRecognitionUsageDescription" target="*-Info.plist">
            <string>This Application uses Speech Recognition for Voice Assistant</string>
        </config-file>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLName</key>
                <string>REVERSED_CLIENT_ID</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.1075755841648-aqvo4nm7oeecbo2frh8dlti3u6guc4ek</string>
                </array>
            </dict>
        </array>
        </config-file>
    </platform>
</widget>
