.infoWrapper
    margin-top: 2 * $r
    margin-bottom: 2 * $r
    padding-left: 2 * $r
.statusrow
    margin-top: 2 * $r
    margin-bottom: 6 * $r

    ::v-deep
        .status
            flex-direction: column
            grid-gap: 0
.hasOpened
    margin-top: 2 * $r
    margin-bottom: 6 * $r
    text-align: center

    .label
        span
            color : srgb(--color-txt-ac)

.stepsWrapper
    overflow-x: auto
    &::-webkit-scrollbar
        display: none

.nameWrapper
    margin-bottom: 2 * $r
    padding : 0 $r

    .label
        
        margin-left: $r
        margin-bottom: 2 * $r
        text-align: center

        span
            font-size: 0.8em
            font-weight: 700

    input
        background: srgb(--neutral-grad-0)
        border-radius: 12px
        width: 100%
        padding : 0 2 * $r
        height: 55px
        text-align: center

.caption
    margin-top: 4 * $r
    margin-bottom : 2 * $r
    padding-left: 2 * $r
    text-align: center
    span
        font-size: 0.8em
        font-weight: 700