.filemanager_asset
    display: flex
    align-content: space-between

    .panel
        margin-left: auto

        i
            color : srgb(--neutral-grad-2)
            font-size: 0.9em
.oldname,
.name
    margin-top: $r
    padding-left: $r

    span
        font-size: 0.9em

.oldname
    margin-top: 0
    color : srgb(--neutral-grad-2)
    span
        text-decoration: line-through


.tickers
    display: flex
    align-items: center
    grid-gap: $r
.searchticker
    padding : $r
    i
        font-size: 0.8em
        color : srgb(--neutral-grad-1)