.groupCaption
    margin-top: 2 * $r
    margin-bottom: 2 * $r
    span
        font-size: 1.2em
        font-weight: 700

.templateWrapper
    margin-bottom: 2 * $r

::v-deep
    .showmore
        margin-top: 3 * $r
        margin-bottom: 4 * $r
        span
            color: srgb(--color-txt-ac)