.cardWrapper
	margin-bottom: $r

.panelWrapper
	display: flex
	align-content: space-between
	align-items: center
	margin-bottom: $r
	padding-left: 2 * $r
	>div
		padding-top: $r
		padding-bottom: $r
	.panel2
		margin-left: auto
		padding-right: $r
	span
		font-size: 0.9em
		color : srgb(--color-txt-ac)