#crashtest_totalchart
    position: relative


    .loaderWrapper
        position: absolute
        left : 0
        top : 0
        bottom : 0
        right: 0
        text-align: center
        background: srgba(--background-hidden-layer, 0.5)
        padding : 2 * $r
        z-index: 3

.mobbutton
    margin-top: $r
    text-align: center