.buttonsWrapper
	display: grid
	grid-gap: $r
	grid-template-columns: repeat(2, 1fr)
	
.notificationsWrapper
	margin-top: 2 * $r

.caption
	margin-bottom: 2 * $r
	margin-top: 4 * $r

	span
		font-weight: 700
		font-size: 1.2em
