#topheader
    background: srgb(--background-total-theme)
    z-index: 4
    color : srgb(--text-color)

    .iconbutton
        cursor: pointer

    .headerLine
        display: flex
        align-items: center
        padding: 0
        height: 66px

        .leftIcon
            width: 55px
            display: none

        .infoPart
            flex-grow: 1
            padding : 0 2 * $r
            overflow: hidden

            /deep/ span,
            span
                font-size: 1.5em
                font-weight: 500

    &.hasback
        padding-left: $r
        .headerLine
            .infoPart
                padding : 0

    .rightaddIcons,
    .rightIcons
        justify-content: space-between

@media only screen and (max-width: 768px)
    #topheader
        margin-top: 2 * $r

       
        .headerLine
            height: 84px

            .leftIcon
                display: block

            .rightIcons
                padding-right: 2 * $r

            .infoPart
                padding : 0 2 * $r

                /deep/ span,
                span
                    font-size: 2em
                    font-weight: 700

      