#topheader
	background: srgb(--background-total-theme)
	z-index: 11
	color : srgb(--text-color)

	::v-deep
		.iconbutton
			cursor: pointer
			color : srgb(--neutral-grad-3)

	.headerLine
		display: flex
		align-items: center
		padding: 2 * $r
		padding-top: 2 * $r
		height: 84px

		.leftIcon
			width: 55px

		.infoPart
			flex-grow: 1
			padding : 0 2 * $r
			overflow: hidden

			::v-deep span,
			span
				font-size: 1.5em
				font-weight: 500

	&.hasback
		.headerLine
			.infoPart
				padding : 0

	.rightaddIcons,
	.rightIcons
		justify-content: space-between

		

	.rightIcons
		display: flex
		align-items: center

		::v-deep
			i
				color : srgb(--neutral-grad-3)

		.buttonpanel
			i
				color : srgb(--color-txt-ac)

	.additionalWrapper
		::v-deep
			#linenavigation

			   
	
	&.gray
		background: srgb(--background-secondary-theme)
		.headerLine
			.infoPart
				::v-deep span,
				span
					font-size: 1em
					font-weight: 500

@media only screen and (min-width: 1024px)
	#topheader
		&.gray
			background: srgb(--background-total-theme)

@media only screen and (max-width: 768px)
	#topheader
		padding-top: var(--app-margin-top)

		.headerLine
			padding : 0
			height: 84px

			.leftIcon
				display: block

			.rightIcons
				padding-right: 2 * $r

			.infoPart
				padding : 0 2 * $r

				::v-deep span,
				span
					font-size: 2em
					font-weight: 700

		&.gray
			margin-top: 0
			.headerLine
				.infoPart
					::v-deep span,
					span
						font-size: 1em
						font-weight: 500
	  