.header
    .name
        span
            font-size: 2em

.statusrow
    margin-top: 2 * $r
    margin-bottom: 6 * $r

    ::v-deep
        .status
            flex-direction: column
            grid-gap: 0

.summary
    display: grid
    grid-gap: $r
    grid-template-columns: repeat(2, 1fr)
    margin-bottom: 2 * $r
    padding-bottom: 2 * $r

    .sub
        display: flex
        flex-direction: column

        .value
            width: 44px
            height: 44px
            line-height: 44px
            border-radius: 22px
            text-align: center
            background: srgb(--neutral-grad-0)
