.groupCaption
    margin-bottom: $r
    span
        font-size: 1.2em
        font-weight: 700

.act
    margin-bottom: $r


::v-deep
    .showmore
        margin-top: $r
        span
            font-size: 0.9em
            color : srgb(--color-txt-ac-1)
            text-decoration: underline

    .group
        padding : $r
        margin-top: 2 * $r