

.controls
	position: sticky
	z-index: 1
	bottom : 0
	left : 0
	right: 0
	display: flex
	align-items: center
	justify-content: space-between
	background: srgb(--background-total-theme)
	grid-gap: $r
	padding-top : $r
	padding-bottom: $r

	div
		flex-basis: 50%
		text-align: center

		.scaption
			font-weight: 500
			color : srgb(--neutral-grad-3)
			font-size: 0.8em
			margin-bottom: $r

	select
		width: 100%
		max-width: none

@media only screen and (max-width: 768px)
	.controls
		bottom : 76px