::v-deep
    .contents
        display: none

.failed
    padding : 4 * $r
    text-align: center

.assetWrapper
    border-bottom: 1px solid srgb(--neutral-grad-0)
    padding-top: 2 * $r
    padding-bottom: 2 * $r