#authorization
    padding-bottom : 6 * $r
    
.caption
    font-size: 2em
    font-weight: 100
    max-width: 70%

.maket
    &.leftPart

    .item
        padding-top : 3 * $r
        .label
            color : srgb(--color-bg-ac-bright)
            margin-bottom: $r

            span
                font-size: 0.9em

            &.forgotPassword
                margin-top: 2 * $r

    button

    input
        padding : 0 3 * $r
        height: 66px
        background: srgb(--neutral-grad-0)
        width : 100%
        border-radius: 6px

    /deep/
        
        input
            padding-left : 3 * $r

        .emailphoneinput

            .inputWrapper
                margin-bottom : 0
                
            input
                padding-left: 0
