.portfolio_crashtest_chart
	height: 450px
	width: 100%
	position: relative

	.scale
		position: absolute
		left: 0
		width: 55px
		top : 0
		bottom : 0
		display: flex
		flex-direction: column-reverse

		.num
			flex-basis: 30%
			display: flex
			align-items: center

		div
			color : srgb(--neutral-grad-2)
			font-size: 0.8em
			transform: translateY(-4px)

	.scenarios,
	.background
		position: absolute
		left: 55px
		right: 0
		top : 0
		bottom : 0

	.background
		background: repeating-linear-gradient(to top, #ddd, #ddd 1px, #fff 1px, #fff 10%)

	.scenarios
		display: flex
		align-items: center

		.scenario
			padding : 0 $r
			flex-grow: 2
			height: 100%
			display: flex
			align-items: center
			position: relative

			.name
				position: absolute
				left : 0
				top : 100%
				right : 0
				line-height: 0.3em
				text-align: center
				span
					
					font-size: 0.3em

			.barswrapper
				width: 100%
				height: 100%
				display: flex
				align-items: center

				&.positive
					align-items : flex-start

					.barwrapper
						align-items: flex-end
				&.negative
					align-items : flex-end

			.barwrapper
				height: 50%
				width: 100%
				display: flex


			.bar
				background: srgb(--neutral-grad-1)
				border-radius: 9px
				width: 100%
