.portfolio_crashtest_chart
	height: 300px
	width: 100%
	position: relative

	.scale
		position: absolute
		left: 0
		width: 44px
		top : 0
		bottom : 0
		display: flex
		flex-direction: column-reverse

		.num
			flex-basis: 30%

		div
			color : srgb(--neutral-grad-2)
			font-size: 0.8em
			transform: translateY(-4px)

	.scenarios,
	.background
		position: absolute
		left: 44px
		right: 0
		top : 0
		bottom : 0

	.background
		background: repeating-linear-gradient(to top, #ddd, #ddd 1px, #fff 1px, #fff 30%)

	.scenarios
		display: flex
		align-items: flex-end

		.scenario
			padding : 0 $r
			flex-grow: 2
			height: 100%
			display: flex
			align-items: flex-end

			.bar
				background: srgb(--neutral-grad-1)
				border-radius: 9px
				width: 100%
