#changepassword
	padding : 0 $r

.caption
	max-width: 70%
	margin-bottom: 4 * $r

	span
		font-size: 2em
		font-weight: 100

.item
	margin-top : 2 * $r
	.label
		color : srgb(--color-bg-ac-bright)
		margin-bottom: $r


input
	background: srgb(--background-secondary-theme)
	padding : 0 3 * $r
	height: 66px
	background: srgb(--neutral-grad-0)
	width : 100%
	border-radius: 12px