.add
    display: flex
    align-items: center
    .label
        span
            font-weight: 700
            font-size: 0.9em
            color: srgb(--color-txt-ac)

    .icon
        width: 50px
        text-align: center
        padding : 0.5 * $r
        i
            font-size: 0.8em
            color: srgb(--color-txt-ac)

    &.main
        margin-bottom: 2 * $r