.header
    display: flex
    align-content: space-between
    align-items: center

    .name
        span
            font-size: 0.8em
            font-weight: 700

    .value
        color: srgb(--neutral-grad-3)
        margin-left: auto

.topheader
    margin-bottom: $r
    


.lineWrapper
    padding : $r 0

    .line
        height: 10px
        border-radius: 5px
        background: srgb(--neutral-grad-1)
        position: relative
        overflow: hidden

        .fill
            position: absolute
            left : 0
            top : 0
            bottom : 0
            

