.empty
    padding-top: 2 * $r
    padding-bottom: 2 * $r

.cont
    margin-top: 2 * $r

.panel
    display: flex
    justify-content: center

.body
    display: flex
    justify-content: space-evenly

.textcontent
    display: flex
    justify-content: space-evenly
    cursor: pointer

.textfield
    width: 100px
    text-overflow: ellipsis
