#share
	display: flex
	gap: $r
	padding : 2 * $r
	padding-bottom: 4 * $r

	div
		width: 50%
		flex-grow: 2
		text-align: center
		padding : 4 * $r
		display: flex
		flex-direction: column
		border-radius: 6px
		background: srgb(--neutral-grad-0)

		i
			font-size: 1.5
			opacity: 0.5

		span
			margin-top: $r
@media (pointer:fine)
	#share
		div
			cursor: pointer