.caption
    padding-left: 2 * $r
    padding-right: 2 * $r
    margin-bottom: $r
    margin-top: 2 * $r
    span
        font-size: 0.9em


.reports
    .form
        background: srgb(--neutral-grad-0)
        padding : 2 * $r
        padding-top: 4 * $r

.settings
    padding : 0 $r
    .caption
        padding-left: $r
    .form
        border : 1px solid srgb(--neutral-grad-0)
        border-radius: 24px
        padding : 2 * $r