.infopt
	padding : 2 * $r

.caption
	margin-top: 2 * $r
	margin-bottom: 2 * $r
	span
		font-size: 1.2em
		font-weight: 700

.factor
	display: flex
	justify-content: space-between
	border-bottom: 1px solid srgb(--neutral-grad-0)

	>div
		padding : 2 * $r $r
 
	.value
		margin-left: auto
		font-weight: 700