.modal-backdrop 
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: srgba(--color-shadow-base, 0.85)
    display: block
    justify-content: center
    align-items: center
    opacity: 1
    

#modal
    position: fixed
    left : 0
    top : 0
    bottom : 0
    right: 0
    z-index: 2023

    .modal-body
        padding-bottom: var(--keyboardheight)

    .swipable
        position: absolute
        left : 0
        right : 0
        top : 0
        bottom : 0

    &.small
        .modal-body
            padding-bottom: 0
        .swipable
            position: static
        .modal-wrapper
            top : auto
            max-height: 90vh
            

            .modal
                max-height: 90vh
                position: static

    &.likelabel

        top : auto

        .modal-wrapper
            padding-bottom: 0


        .modal-body
            padding-bottom: 0

        .modal
            background: srgb(--color-bg-ac-bright) 
            padding : 2 * $r
            color : srgb(--text-on-bg-ac-color)
            text-align: center

        .modal-header
            position: absolute
            background: transparent
            left : auto
            

        .modal-close
            color : srgb(--text-on-bg-ac-color)
        .modal-backdrop
            display: none

    &.likemenu
        .modal-header
            display: none

        .modal-body
            padding : 2 * $r
            padding-bottom: 10 * $r

    &.withoutheader
        .modal-header
            display: none


    .stickedTop
        top : 0

    &.absoluteContent
        .modal-header
            position: absolute

        .modal-body
            position: absolute
            left: 0
            bottom: 0
            right: 0
            top : 55px

        .absmodal
            width: 100%
            height: 100%

    &.cover
        .modal-close
            margin-right: $r
        .modal-header
            height: 84px
            align-items: center
            margin-top: 2 * $r
            .headerWrapper
                span
                    font-size: 2em
        .modal-wrapper
            top : 0
        .modal
            border-radius: 0

    &.topsearching
        .modal-body
            padding-bottom: 0
        .swipable
            position: static

        .modal-header
            display: none
        .modal-wrapper
            top : 0
            bottom : auto
            max-height: 90vh

            .modal
                padding-top: 8 * $r
                padding-bottom: 5px
                max-height: 90vh
                position: static
                border-radius: 0
                border : 0
                border-bottom-left-radius: 20px
                border-bottom-right-radius: 20px
                border-bottom : 1px solid srgba(--neutral-grad-3, 0.2)

.modal-wrapper
    position: absolute
    left : 0
    right : 0
    top : 7%
    bottom : 0
    overflow: hidden
    

.modal 
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    border-top : 1px solid srgba(--neutral-grad-3, 0.2)
    background: srgb(--background-total-theme)  
    overflow-x: hidden
    max-width: 640px
    margin : 0 auto
    +shadowSmall()
    position: absolute
    left : 0
    right : 0
    top : 0
    bottom : 0
    overscroll-behavior : contain



.modal-close
    margin-left: auto
    padding : 2 * $r
    width : 50px
    text-align: center
    color : srgb(--neutral-grad-4)
    cursor: pointer
    z-index: 1

    &:hover
        color : srgb(--text-color)

.modal-header,
.modal-footer 
    display: flex
    max-width: 640px
    margin : 0 auto


.modal-header 
    color: srgb(--text-color)
    justify-content: space-between
    font-weight: 700
    position: sticky
    display: flex
    justify-content: space-between
    left : 0
    top : 0
    right: 0
    z-index: 10
    background: srgb(--background-total-theme)

    .headerWrapper
        padding : 2 * $r


.modal-footer 
    justify-content: flex-end

.mwork
    padding: 2 * $r 2 * $r

.modal-body 
    padding: 0
   
.eff
    text-align: center
    color : srgb(--color-txt-ac)
    width : 100%

    i
        font-size: 0.2em

.btn-close 
    border: none
    padding: 2 * $r
    cursor: pointer
    font-weight: bold
    color: srgb(--neutral-grad-4)
    background: transparent


.btn-success 
    color: white
    background: srgb(--color-bg-ac)
    border: 1px solid srgb(--color-bg-ac)


@media only screen and (max-width: 768px) 
    .modal 
        min-width: 0
        width: 100%
        height: 100%

        #topheader
            padding-top: 0!important

    .modal-footer
        position: absolute
        bottom : 0
        right : 0
        left : 0

.separator
    width: 5px