.infoWrapper
	border-radius: 6px
	background: srgba(--neutral-grad-0, 0.5)
	border : 1px solid srgba(--neutral-grad-0, 1)
	margin-top : 2 * $r
	padding : 2 * $r
	max-width: 640px
	margin-bottom: 4 * $r

.settings
	margin-top: 6 * $r

	.subcaption
		padding : $r 0
		text-align: center
		span
			font-size: 0.8em

.themeToggleWrapper
	display: none
	margin-bottom : 2 * $r

.action
	margin-bottom: 2 * $r
	display: flex
	align-items: center

	.label
		margin-left: $r

.signout
	margin-top : 8 * $r
	padding : 2 * $r
	cursor: pointer
	text-align: center

	span
		text-decoration: underline
		font-size: 0.8em
		color : srgb(--color-bad)

.cardWrapper
	margin-top: 4 * $r
	::v-deep
		.userpicWrapper
			max-width: 100px
			min-width: 100px
			width: 100px
			line-height: 100px
			margin-right: 0

		.usercard
			display: flex
			flex-direction: column

		.data
			margin-top: 2 * $r
			text-align: center

.additional
	.item
		display: flex
		padding : $r

.version
	margin-top: 8 * $r
	text-align: center
	white-space: nowrap
	span
		font-size: 0.8em
		color : srgb(--neutral-grad-2)

@media only screen and (max-width: 768px)
	.themeToggleWrapper
		display: block